In [1]:
print("Hello Python")

Hello Python

In [5]:
x=10
y="rayhan"
print(x,y)

10 rayhan

In [11]:
def myfunction():
    x="fantastic"
    print("python is " + x)
    
b="awesome"
myfunction()
print("python is " + b)

python is fantastic
python is awesome

In [12]:
a=10
b="filterdata"
c=1j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'complex'>

In [14]:
import random
print(random.randrange(2,20))

15

In [16]:
age=24
b=f"I am a stunden I am {age} years old"
print(b)

I am a stunden I am 24 years old

In [22]:
a="hello \"Shajghoj\""
print(a)

hello "Shajghoj"

In [25]:
a=6
b=4
c=a/b
print(c)

1.5

In [28]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [31]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [32]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [33]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'apple', 'cherry', 'banana'}

In [34]:
a={"arman","Rayhan","all"}
print("arman" not in a)

False

In [35]:
thisset={"apple","banana","cherry","orange"}
thisset.add("painapple")
print(thisset)

{'apple', 'cherry', 'painapple', 'orange', 'banana'}

In [36]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'apple', 'mango', 'papaya', 'cherry', 'banana'}

In [37]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [38]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [40]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [41]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [44]:
class MyClass:
  x = 5

p1 = MyClass()
print(p1.x)

5

In [45]:
class person:
    def __init__(self,name,age) :
        self.name=name
        self.age=age
p1 =person("jhon","36")
print(p1.name)
print(p1.age)

jhon
36

In [46]:
a=10
b=30
print("A") if a > b else print("B")

B

In [47]:
a=10
b=25
c=20
if a>b or b>c:
    print("both ")

both

In [48]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [49]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

In [50]:
mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a

In [2]:
import datetime
x=datetime.datetime(2024,6,9)
print(x)

2024-06-09 00:00:00

In [4]:
import datetime

x = datetime.datetime(2024, 7, 1)

print(x.strftime("%B"))

July

In [8]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%A"))

Monday